@charset "utf-8";
/* CSS Document */
.head{
	background:#ec5598;
	width:100%;
	position:relative;
	height:30px;
}
.logo h3 {
    position: absolute;
    font-size: 45px;
    /* top: 89%; */
    color: rgb(197, 159, 177);
    /* left: 12%; */
    padding-top: 1%;
    background: white;
    margin-top: -3%; 
}
.menu ul{
	list-style-type:none;
}
.menu ul li{
	padding: 0px 8px;
	float:left;
}
.menu ul li a{
	color:#000;
	font-size:18px;
	font-weight:bold;
	font-family:"Courier New", Courier, monospace;
	text-transform:uppercase;
	text-decoration:none;
}
.menu ul li a:hover{
	background:#ec5598;
	
}
.banner{
	max-width:1400px;
	max-height:700px;
}
.about{
	padding:10% 0px;
}
.about h4{
	color:#000;
	font-weight:bold;
	letter-spacing:7px;
	}
.aboutimg{
	max-width:100%;
	max-height:100%;
}
.aboutp {
    padding: 48px 0px;
    text-align: center;
}
.aboutp p{
	text-align:left;
	padding-top:10px;
}
.discover{
	background-color:#eae8e2;
	width:100%;
	margin-top:40px;
}
.dis{
	font-size:26px;
	font-family:'Herr Von Muellerhoff',cursive;
	color: #ec5598;
    text-transform: capitalize;
    font-weight: 400;
	text-align:center;
}
.discover h4{
	    font-size: 18px;
    letter-spacing: 10px;
	text-align:center;
}
.menu ul .menu1 li  {
    padding: 39px 8px;
    float: left;
    text-align: center;
    width: 15%;
}
.price{
	background-color:white;
	width:50%;
	border: 2px solid #000;
	border-radius:2px;
	
}
.price ul{
	list-style-type:none;
	padding:10px 10px;
	text-align:center;
	margin:0px;
}.
.price ul li{
	
	
}
.price ul li a{
	text-decoration:none;
	color:black;
	font-size:17px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:800;
	
	
}

@media screen and (max-width:980px)
{
	.head{
	max-height:100%;
	max-width:100%;
}
.banner img{
	max-width:100%;
	max-height:100%;
}
.menu ul li{
	padding: 23px 24px;
	
}
.aboutimg{
	text-align:center;
}
.aboutp {
    padding: 48px 0px;
    text-align: center;
}
.aboutp p{
	text-align:center;
	
}
}
@media screen and (min-width:0px) and (max-width:768px)
{
	.head{
	max-width:100%;
}
.banner img{
	max-width:100%;
	max-height:100%;
}
.menu ul li{
	padding: 0px 38px;
	    width: 100%;
	
}
.menu ul li a{
	text-align:center;
	
}
.menu ul li a:hover{
	color:#000;
	
}
.aboutimg img{
	text-align:center;
	max-width:100%;
	max-height:100%;
}
.aboutp p{
	text-align:center;
	
}

}